<h1>Batalla Naval</h1>
<form method="post" action="/disparo">
Letra: <input type="text" name="letra" />
<p>
Numero: <input type="text" name="numero" />
</p>
<p>
 <input width="300" type="submit" value="Disparo"/>
</p>
</form>


<p>Resultado: <%= @resultado %></p>

<p>Cantidad de Vidas: <%= @vidas %></p>
